.ag-theme-alpine {
  --ag-background-color: rgb(233, 237, 241);
  --ag-foreground-color: rgb(14, 15, 26);
  --ag-row-background-color: rgb(220, 225, 229);
  --ag-row-hover-color: rgb(201, 209, 216);
}

@media (prefers-color-scheme: dark) {
  .ag-theme-alpine {
    --ag-background-color: rgb(42, 56, 71);
    --ag-foreground-color: rgb(198, 210, 219);
    --ag-row-background-color: rgba(14, 15, 26, .25);
    --ag-row-hover-color: rgba(53, 71, 89, .5);
  }
}